* {
    background-color: #042331;
    font-family: 'Dosis', sans-serif;
}

header {
    background-color: #042331;
    height: 100px;
}

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap');


/* Nav bar Styling */
.sidebar {
    position: fixed;
    left: 0;
    width: 30vw;
    height: 100%;
    background: #042331;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1;
}

li {
    list-style: none;
    text-decoration: none;
    margin: 20px;
}

button {
    background-color: #073B52;
    color: #FAF9F6;
    width: 250px;
    height: 50px;
    border: 2px solid #073B52;
    border-radius: 50px;
}

button:hover {
    background-color: #FAF9F6;
    color: #042331;
    border: 2px solid #FAF9F6;
}

.button-active {
    background-color: #FAF9F6;
    color: #042331;
    border: 2px solid #FAF9F6;
}

.nav-header {
    color: #FAF9F6;
    width: 250px;
    text-align: center;
    margin-top: 30px;
}

.nav-tabs{
    border: none;
}

.navitems {
    margin-right: 0;
    margin-left: auto;
}

/* End of nav bar Styling */

/* Pages styling */

.pages {
    margin-right: 0;
    margin-left: auto;
    width: 65vw;
    background-color: #042331;
    color: #FAF9F6;
}

.homepage {
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}


/*  project image wrapper */

.projects {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    background: #042331;
  }
  
  .wrapper {
    position: relative;
    height: 300px;
    width: 600px;
    margin: 50px 0;
    
    display: flex;
    flex-direction: row;
    
    transition: all 200ms ease-in-out;
  }
  
  .image-wrapper {
    height: 300px;
    width: 450px;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
  
    transition: all 200ms ease-in-out;
  }
  
  img {
    height: 300px;
    width: 450px;
    object-fit: cover;
    object-position: top;
    
    transition: all 200ms ease-in-out;
  }
  
  .book-design-image {
    object-position: center;
  }
  
  .header-wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 300px;
    width: 300px;
    left: 380px;
    transition: all 200ms ease-in-out;
    overflow: hidden;
    
  }
  
  .header-wrapper h1 {
    position: relative;
    bottom: 0;
    height: 300px;
    color: #fff;
    font-size: 80px;
    font-family: Oswald;
    text-transform: uppercase;
    
    transition: all 200ms ease-in-out;
  }
  
  .wrapper:hover img {
    transform: scale(2);
    /*object-position: bottom;*/
  }
  
  .wrapper:hover h1 {
    bottom: 300px;
    transform: scale(.4);
  }
  
  .wrapper:hover .image-wrapper {
    width: 800px;
  }

  /* form styling */

  .forms {
    margin-left: 0;
    margin-right: 30%;
    height: 80vh;
  }

  /* resume  */

  .resume {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }

.footer img {
  height: auto;
  width: auto;
  margin: 20px;
}
.footer {
  width: auto;
}